.container {
  position: absolute;
  width: 25%;
  height: 600px;
  z-index: -1;
}

.stripe {
  width: 1000px;
  height: 100px;
  margin: 20px 0;
  background: rgba(21, 186, 192, 0.08);
  filter: blur(2px);
  border-radius: 70px;
  float: right;
}

@media screen and (max-width: 1000px) {
  .container {
    margin-left: 10%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin-left: 25%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-left: 50%;
  }
}