.button {
  display: flex;
  border-radius: 13px;
  padding: 20px 4%;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  min-width: fit-content;
  margin-right: 3%;
  width: 35%;
  position: relative;
  bottom: 0;
  transition: all 0.25s ease-in-out;
}

.primarybutton {
  background-color: var(--primary-color);
}

.altbutton {
  border: 1px solid var(--primary-color);
}

.alt2button {
  background: linear-gradient(269.68deg, #092234 -1.32%, #000000 99.73%);
}

#send {
  background-color: var(--primary-color) !important;
  display: flex !important;
  border-radius: 13px !important;
  padding: 20px 4% !important;
  align-items: center !important;
  justify-content: center !important;
  letter-spacing: 2px !important;
  min-width: fit-content !important;
  margin-right: 3% !important;
  width: 35%;
  position: relative;
  left: 0;
  transition: all 0.25s ease-in-out;
}

.button:not(.alt2button):hover{
  bottom: 5px;
}

.button:hover {
  transform: scale(105%);
}

#send:hover {
  left: 5px;
}

@media screen and (max-width: 1000px) {
  .button {
    width: 50%;
  }
  .alt2button {
    font-size: 1rem;
  }
}
