.splitsection {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

#hero {
  margin-top: 10%;
}

.hero_image {
  width: 50%;
}

.hero_image img {
  position: relative;
  left: 10%;
  width: 110%;
  margin: 0 0 -10% -10%;
}

.engineer_image {
  width: 75%;
  height: auto;
}

.group_image {
  width: 100%;
  height: auto;
}

.half {
  width: 50%;
}

.title {
  font-weight: 500;
  font-size: 4em;
  margin-top: 8%;
}

.slogan {
  margin: 6% 0;
}

.hero_buttons {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

h2 {
  font-weight: 400;
  font-size: 2.5em;
  margin: 0;
}

.subtitle {
  color: var(--primary-color);
  letter-spacing: 2px;
}

.diensten {
  width: 100%;
}

.dienst_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}
