.link {
  display: flex;
  align-items: center;
}

.link img {
  padding: 0 10px;
  transition: all 0.25s ease-in-out;
}

@media screen and (min-width: 1000px) {
  .link:hover {
    font-weight: 500;
    cursor: pointer;
  }

  .link:hover img {
    padding: 0 20px;
    transform: scale(120%);
  }
}
