@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  color: white;
  --bg-color: #092234;
  --primary-color: #15BAC0;
  --bg-dark: rgba(0, 0, 0, 0.65);
  --large-bp: 1600px;
  --mobile-bp: 1250px;
  overflow-x: hidden;
}

body {
  /* position: relative; */
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 1.15rem;
  background-color: var(--bg-color);
  max-width: 1440px;
  width: 80vw;
  margin: 0.5vw auto 0 auto;
  padding: 0 5rem;
}

@media screen and (max-width: 1600px) {
  body {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1250px) {
  body {
    max-width: 1000px;
    padding: 0;
  }
}

code {
  font-family: "Outfit", sans-serif;
}

p {
  font-weight: 200;
  font-size: 1.125rem;
}